    







                # Liệu rằng tương lai có quan trọng hơn tình yêu ?

                # Không đúng, tình yêu quý giá hơn.

                # Chỉ là người phù hợp với bạn sẽ chờ đợi bạn trong tương lai.

                # Vậy thì tương lai có quan trọng hơn tình yêu hay không ?

                







