{
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "editor.formatOnSave": true
}
